// app global css
/* Font untuk berbagai aksara */
.font-latin {
  font-family: 'Roboto', sans-serif;
}

.font-arabic {
  font-family: 'Amiri', 'Noto Sans Arabic', serif;
  direction: rtl;
  text-align: right;
  font-size: 1.3em;
  line-height: 2;
}

.font-sundanese {
  font-family: 'Noto Sans Sundanese', sans-serif;
}

.font-javanese {
  font-family: 'Noto Sans Javanese', sans-serif;
}

.font-bali {
  font-family: 'Noto Sans Balinese', sans-serif;
}

.font-batak {
  font-family: 'Noto Sans Batak', sans-serif;
}

/* Support RTL untuk Arab */
[dir='rtl'] {
  direction: rtl;
  text-align: right;
}
